html,
body,
ul,
li,
ol,
form,
legend,
fieldset,
textarea,
a, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'Hamburger Schwabacher Druckrauh';
  src: url("../fonts/Hamburger_Schwabacher.ttf");
}

html, body {
  min-height: 100vh;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Hamburger Schwabacher Druckrauh';
}

#app {
  min-height: 100vh;
  background-color: #46e6b0;
}

#app .content {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #388f75;
}

#app .content h1 {
  -webkit-animation: juuh 2s ease-in-out infinite alternate;
          animation: juuh 2s ease-in-out infinite alternate;
}

#app audio {
  padding: 2rem;
}

@-webkit-keyframes juuh {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes juuh {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
/*# sourceMappingURL=style.css.map */