<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drop the riff Rölli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="content">
            <h1>{{ header }}</h1>
            <audio src="rölli.mp3" autoplay loop controls></audio>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>